.registerWrapper {
    width: 350px;
    padding: 20px 40px;
    margin: 50px auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.register__title {
    font-size: 1.3rem;
    margin-bottom: 10px;
    text-align: center;
}

.register__info {
    width: 200px;
}

.register__item {
    width: 250px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}

.register__error {
    color: red;
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 8px;
    margin-top: 4px;
}

.register__button {
    width: 250px;
    height: 40px;
    background-color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.register__button:hover {
    opacity: 0.9;
}

.request__button {
    margin-top: 10px;
    font-size: 0.9rem;
}

.request__button a {
    padding-left: 4px;
}

.request__button a:hover {
    color: blue;
}
